[Desktop Entry]
Type=Application
Version=1.0
Name=Install to Disk
Name[da]=Installer på Disk
GenericName=Installer
GenericName[da]=Installationsprogram
Comment=Install the operating system to disk
Comment[da]=Installer styresystemet på disk
Comment[de]=Panda Linux installieren
Exec=pkexec calamares
Icon=/usr/share/images/logo3.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
