[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pga/Desktop/Battle.net.desktop]
row=1
col=0

[/home/pga/Desktop/cursebreaker.desktop]
row=0
col=0

[/home/pga/Desktop/World of Warcraft.desktop]
row=2
col=0

